{% extends "base.html" %}



{% block content %}
            <div class="content">
                <h1>Type of Service</h1>
                <table>
                    <tr>
                        <td><a href = "{{url_for('main.complaint') }}">Electronics </a></td>
                    </tr>
                    <tr>
                        <td>Merchandise</td>
                    </tr>
                    <tr>
                        <td>Books</td>
                    </tr>
                    <tr>
                        <td>Member subscription</td>
                    </tr>
                </table>
               
            
            
            </div>
            {% endblock %}
            